# source
git /extensions/GenericHandlers    https://github.com/OpenEngineDK/extensions-GenericHandlers.git
git-dev /extensions/GenericHandlers    git@github.com:OpenEngineDK/extensions-GenericHandlers.git
